@import "tailwindcss";

@theme {
    --color-orange: #FF884B;
    --color-black: #2E2E2E;
    --color-blackOriginal: #000000;
    --color-white: #FFFFFF;
    --color-orangeBland: #fff3ed;
    --color-grayBland: #DEDEDE;
    --color-redError: #FF2121;
    --color-modalBackdrop: #00000080;

    --breakpoint-mobile-max: 767px;
    --breakpoint-tablet-min: 768px;
    --breakpoint-tablet-max: 1023px;
    --breakpoint-laptop-min: 1024px;
    --breakpoint-laptop-max: 1279px;
    --breakpoint-desktop-min: 1280px;
    --breakpoint-desktop-max: 1919px;
    --breakpoint-wide-min: 1920px;
}

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/poppins/medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
    font-display: swap;

}

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/poppins/bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/poppins/semibold.woff2") format("woff2");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/poppins/regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/poppins/light.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

body {
    color: var(--color-black);
    font-family: Poppins;
    font-size: 16px;
}